# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/

.vscode

.DS_Store

*.onnx

test/
test_data/
recipes/
musion/util/kafka
musion/dev_tools